@font-face {
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 300;
    src: url("./assets/NunitoSans-LightItalic.ttf") format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/NunitoSans-Regular.ttf") format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 400;
    src: url("./assets/NunitoSans-Italic.ttf") format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/NunitoSans-ExtraBold.ttf") format("woff2");
}

.etwin-maxw-704px  { max-width: 704px }
.etwin-maxw-1024px { max-width: 1024px }

.etwin-ml-2\,1rem { margin-left: 2.1rem }

.etwin-fg-red { color: #d11a26 }
.etwin-fg-soft-purple { color: #a19bc0 }
.etwin-fg-light-gray { color: #ededed }

.etwin-bg-dark-red { background-color: #6a100e }
.etwin-bg-gray-70\% { background-color: #1a1a1bb3 }
.etwin-bg-black { background-color: #040406 }

.etwin-bc-dark-purple { border-color: #2c255b }
.etwin-bc-red { border-color: #d11a26 }
.etwin-bc-soft-purple-white-soft-purple {
    border-image: linear-gradient(to right, #a39fb9, #ffffff 50%, #a39fb9) 100% 1;
}

.etwin-main-styles {
    letter-spacing: .005em;
    font-size: 16px;
    line-height: 1.4;
    font-family: Nunito Sans, sans-serif;
    background:
        url(../assets/footer-waves.svg) repeat-x bottom,
        url(../assets/bg-star.svg) no-repeat center -594px,
        #1a1a1b;
}

.etwin-btn-styles {
    background-color: #cd6f00;
    box-shadow: 0 3px #040406;
    color: #ededed;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    border: .1rem solid #edededb0;
    padding: .6em 1.6em;
    transition: all .25s, box-shadow .45s;
}

.etwin-btn-styles:hover {
    transform: translateY(1px);
    background-color: hsl(22, 90%, 42%);
    box-shadow: 0 1px #040406;
}

.etwin-section-shadow { box-shadow: 0 0 18px 3px #a19bc04d }
