/* Visibility */
/* Display */
/* Position */
/* Flexbox */
/* Box sizing */
/* Width and height */
/* Margin */
/* Padding */
/* Border */
/* Outline */
/* Font */
/* Color */
/* Animation */
/* Others */

:root {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                 "Helvetica Neue", sans-serif;
    line-height: 1.15;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg0:    hsl(203 14% 97%);
        --bg1:    hsl(198 18% 89%);
        --fg2:    hsl(197 12% 73%);
        --fg1:    hsl(196 7% 41%);
        --fg0:    hsl(193 9% 19%);
        --bg0-50: hsl(203 14% 97% /.5);
        --fg2-50: hsl(197 12% 73% /.5);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg0:    hsl(193 9% 19%);
        --bg1:    hsl(196 7% 41%);
        --fg2:    hsl(197 12% 73%);
        --fg1:    hsl(198 18% 89%);
        --fg0:    hsl(203 14% 97%);
        --bg0-50: hsl(193 9% 19% /.5);
        --fg2-50: hsl(197 12% 73% /.5);
    }
}

/* @md breakpoint */
@media (min-width: 768px) {
    .\@md\:columns-2 { column-count: 2 }
}

/* Visibility */
.hidden { visibility: collapse }

.\$group:hover .\$group-hover\:visible { visibility: visible }

/* Display */
.block        { display: block }
.inline-block { display: inline-block }

/* Position */
.relative { position: relative }
.absolute { position: absolute }

.top-0    { top: 0 }
.top-5\/2 { top: 2.5rem }

.right-0     { right: 0 }
.right-1\/10 { right: .1rem }

.bottom-0 { bottom: 0 }

.left-0 { left: 0 }

.align-top { vertical-align: top }

.float-left  { float: left }
.float-right { float: right }

/* Flexbox */
.flex { display: flex }
.column { flex-direction: column }
.no-shrink { flex-shrink: 0 }
.flex-grow { flex-grow: 1 }
.items-center { align-items: center }

.gap-1\/6 { gap: .15rem }
.gap-2\/5 { gap: .4rem }

/* Grid */
.grid { display: grid }

.grid-cols-4 { grid-template-columns: repeat(4, minmax(0, 1fr)) }

.col-span-3 { grid-column: span 3 / span 3 }

/* Box sizing */
.border-box { box-sizing: border-box }

/* Width and height */
.w-4\/5  { width: .8rem }
.w-2\/3  { width: calc(1rem * 2/3) }
.w-1     { width: 1rem }
.w-100\% { width: 100% }

.h-4\/5 { height: .8rem }
.h-2\/3 { height: calc(1rem * 2/3) }
.h-1    { height: 1rem }

.minw-0 { min-width: 0 }

.maxw-8 { max-width: 8rem }

/* Margin */
.mx-auto { margin-left: auto; margin-right: auto }

.mt--1\/5 { margin-top: -.2rem }
.mt-1\/2  { margin-top: .5rem }
.mt-3\/2  { margin-top: 1.5rem }

.mr-1\/10 { margin-right: .1rem }
.mr-3\/5 { margin-right: .6rem }

.mb-1\/5 { margin-bottom: .2rem }

.ml-1\/5 { margin-left: .2rem }
.ml-1\/2 { margin-left: .5rem }

/* Padding */
.p-1\/6  { padding: .15rem }
.p-1\/10 { padding: .1rem }
.p-1     { padding: 1rem }
.p-2     { padding: 2rem }

.px-1\/5 { padding-left: .2rem; padding-right: .2rem }
.px-1\/2 { padding-left: .5rem; padding-right: .5rem }
.focus\:px-1\/10\+1px:focus { padding-left: calc(.1rem + 1px); padding-right: calc(.1rem + 1px) }
.px-3\/2 { padding-left: 1.5rem; padding-right: 1.5rem }

.py-2\/3 { padding-top: calc(1rem * 2/3); padding-bottom: calc(1rem * 2/3) }

.pt-1\/5 { padding-top: .2rem }

.pr-1\/10 { padding-right: .1rem }

.pb-5\/2 { padding-bottom: 2.5rem }

.pl-1\/5  { padding-left: .2rem }
.pl-1\/10 { padding-left: .1rem }

/* Border */
.b { border: 0px solid }

.bc-bg1 { border-color: var(--bg1) }
.bc-fg2 { border-color: var(--fg2) }

.bw-1px   { border-width: 1px }
.focus\:bw-1\/10:focus { border-width: .1rem }

.bw-t-1\/10 { border-top-width: .1rem }
.bw-b-1\/10 { border-bottom-width: .1rem }

.br-1\/5  { border-radius: .2rem }
.br-100\% { border-radius: 100% }

.b--bottom {
    border-bottom: unset;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}

/* Font */
.fs-2\/5 { font-size: .4rem }
.fs-1\/2 { font-size: .5rem }
.fs-1    { font-size: 1rem }
.fs-3\/2 { font-size: 1.5rem }

.fw-300  { font-weight: 300 }
.fw-bold { -webkit-text-stroke: .05ex }
.fw-800  { font-weight: 800 }

.italic { font-style: italic }

.capitalize { text-transform: capitalize }
.uppercase { text-transform: uppercase }
.code { font-family: monospace }

.hover\:underline:hover { text-decoration: underline }

/* Color */
.fg0 { color: var(--fg0) }
.fg1 { color: var(--fg1) }
.hover\:bg1:hover { background-color: var(--bg1) }
.focus\:bg-white:focus { background-color: white }
.hover\:bg-fg2-50:hover { background-color: var(--fg2-50) }
.active\:bg-fg2:active { background-color: var(--fg2) }
.\$group:hover .\$group-hover\:fg0 { color: var(--fg0) }

.bg0 { background-color: var(--bg0) }
.bg-white { background-color: white }
.bg-gradient-bg0-80\%-bg1 {
    background: linear-gradient(var(--bg0), 80%, var(--bg1));
}

/* Animation */
.trans-bg-1\/2  { transition: background-color .5s }

/* Others */
.user-select-none { user-select: none }
.cursor-default { cursor: default }
.cursor-auto { cursor: auto }
.nowrap { white-space: nowrap }

.overflow-hidden { overflow: hidden }
.overflow-auto   { overflow: auto }

.fadeout-right { -webkit-mask-image: linear-gradient(to right, black calc(100% - .4rem), transparent) }
.fadeout-right-3\/5 { -webkit-mask-image: linear-gradient(to right, black calc(100% - 1rem), transparent calc(100% - .6rem)) }

.\$group:hover .\$group-hover\:fadeout-right-3\/5 { -webkit-mask-image: linear-gradient(to right, black calc(100% - 1rem), transparent calc(100% - .6rem)) }

.crisp { image-rendering: pixelated }

.object-fit-none    { object-fit: none }
.object-fit-contain { object-fit: contain }
